@font-face {
  font-family: awesomeFont;
  font-display: auto;
  src: url('./assets/fonts/saker_sans_black.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: awesomeFont, arial;
}

::-webkit-scrollbar {
    width: calc(100% - 99.9%);
    background: transparent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
    width: 2px;
    height: 2px;
    background: rgba(203, 82, 86, 1);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  visibility: visible;
}

main {
  background: url('./assets/img/be-awesome.jpg') center / 100% no-repeat;
  height: 100vh;
  position: relative;
}

.guide, .interaction {
  position: absolute;
  left: 50%;
  text-align: center;
}

.steps {
  text-align: center;
}


.guide {
  top: 30%;
  transform: translate(-50%, -70%);
  margin-top: 10px;
  width: 100%;
}

.guide h1 {
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 10px;
  text-shadow: 3px 1px 4px rgba(247, 176, 130, 1),
                1px 3px 4px rgba(247, 176, 130, 1),
                -3px 1px 4px rgba(247, 176, 130, 1),
                1px -3px 4px rgba(247, 176, 130, 1);
  color: rgba(215, 95, 95, 1);
}

.steps h2 {
  font-size: 6em;
  letter-spacing: 20px;
  font-weight: 500;
  color: rgb(0, 66, 195);
  text-shadow: 1px 2px 5px rgba(91, 250, 12, 1),
                2px 1px 5px rgba(91, 250, 12, 1),
                -2px 1px 5px rgba(91, 250, 12, 1),
                1px -2px 5px rgba(91, 250, 12, 1);

}
.guide p, .interaction p {
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 8px;
  color: rgba(106, 161, 133, 1);
  text-shadow: 3px 1px 1px rgba(213, 231, 5, 1),
                1px 3px 1px rgba(213, 231, 5, 1),
                -3px 1px 1px rgba(213, 231, 5, 1),
                1px -3px 1px rgba(213, 231, 5, 1);
}

.interaction {
  top: 80%;
  transform: translate(-50%, -25%);
}

.interaction p {
  font-weight: 300;
  letter-spacing: 4px;
}

.interaction button {
  background: transparent;
  border: 1px solid black;
  margin-top: 30px;
  font-size: 2em;
  letter-spacing: 5px;
  cursor: pointer;
  outline: none;
}

.interaction button a {
  text-align: center;
  padding: 10px 30px;
}

.interaction button:hover {
  background: rgba(173, 171, 171, 1);
  border-color: rgba(173, 171, 171, 1);
  color: rgba(215, 95, 95, 1);
  text-shadow: 3px 1px 4px rgba(247, 176, 130, 1),
                1px 3px 4px rgba(247, 176, 130, 1),
                -3px 1px 4px rgba(247, 176, 130, 1),
                1px -3px 4px rgba(247, 176, 130, 1);
  transition: all .5s ease;
}

.interaction button:active {
  transform: scale(1.1);
  transition: all .2s ease;
}

.interaction button a, .hidden-div h2 a {
  text-decoration: none;
  color: inherit;
  
}


.hidden-div {
  height: 100vh;
  background: url('./assets/img/be-loved.jpg') center / 100% no-repeat;
  position: relative;
}

.hidden-div p {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -85%);
  font-size: 3em;
  letter-spacing: 10px;
  color: rgba(1, 142, 245, 1);
  text-shadow: 1px 2px 4px rgba(133, 38, 93, 1),
                2px 1px 4px rgba(133, 38, 93, 1),
                -1px -2px 4px rgba(133, 38, 93, 1),
                -2px -1px 4px rgba(133, 38, 93, 1);
}

.hidden-div h2 {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 3em;
  letter-spacing: 10px;
  font-weight: 300;
  color: rgba(246, 31, 31, 0.94);
  text-shadow: 5px 2px 4px rgba(218, 217, 98, 1),
                2px 5px 4px rgba(218, 217, 98, 1),
                -5px 2px 4px rgba(218, 217, 98, 1),
                2px -5px 4px rgba(218, 217, 98, 1);
}
